<!-- Este HTML incluye los links a materialize, su css y js así como las fuentes de google, el jquery y sus inicializaciones-->

<!DOCTYPE html>
<html lang="es">
     
    <head>
        <meta charset="UTF-8">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="partials/css/materialize.css"  media="screen,projection"/>
        
        <!--Esta es mi hoja de estilos css-->
        <link type="text/css" rel="stylesheet" href="partials/css/mystyles2.css"/>
        
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <title> Lab 20 DAW </title>
        
        <!--<link rel="shortcut icon" type="image/jpg" href="images/si1.jpg"/>-->
    </head>

    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="partials/js/materialize.js"></script>
         <script>
            $(document).ready(function(){$('.parallax').parallax();}) ;
            $(document).ready(function(){$('.carousel').carousel();});
            $('.carousel.carousel-slider').carousel({fullWidth: true,indicators: true});
            $(document).ready(function(){$('.materialboxed').materialbox();});
            $(document).ready(function(){$('.tooltipped').tooltip();});
            $(document).ready(function(){$('.sidenav').sidenav();});
            $(document).ready(function(){$('.modal').modal({dismissible: false});});
            $('.modal').modal();
            $( document ).ready(function() {
       $('.datepicker').pickadate({
          format: 'mm/dd/yyyy',
          selectMonths: true, // Creates a dropdown to control month
          selectYears: 15 // Creates a dropdown of 15 years to control year
        });
    });
            $(document).ready(function(){$('select').formSelect();});
            $(document).ready(function(){$('.tabs').tabs();});
            $(document).ready(function(){$('.modal').modal();$('.datepicker').datepicker({container: 'body'})});
            $(document).ready(function(){$('.modal').modal();$('.timepicker').timepicker({container: 'body'})});  
            $('#alert_close').click(function(){$( "#alert_box" ).fadeOut( "slow", function() {});});
            
            $(document).ready(function(){$('select').formSelect();});
        </script>
        
        <nav>
            <div class="nav-wrapper ">
                <a href="#" class="brand-logo"><img class="responsive-img" id="logo" src="partials/images/watermark.png" width="100"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down ">
                    <li><a href="index.php" class="nav_text">Home</a></li>
                    <li><a href="#about" class="nav_text">Test Cases</a></li>
                    <li><a href="#preguntas" class="nav_text">Preguntas</a></li>
                </ul>
            </div>
        </nav>