


<div class="section white z-depth-5 section_dark">
    <div class="row container">
        <h2 class="header my_heading_text dark_header"> Dark Mode</h2>
        <p class="grey-text text-darken-3 lighten-2 my_normal_text dark_text">Activa el modo oscuro</p>
        <a class="waves-effect waves-light btn dark_mode" onclick="dark()" id="">button</a>
    </div>
       
</div>

<div class="section white z-depth-5 section_dark">
    <div class="row container">
    <h2 class="header my_heading_text dark_header">FONT SIZE</h2>
    <p class="grey-text text-darken-3 lighten-2 my_normal_text dark_text">Cambia el tamaño del texto</p>
    <a class="increase waves-effect waves-light btn dark_mode" value=" + ">grande</a>
    <a class="decrease waves-effect waves-light btn dark_mode" value=" - "/>pequeña</a>
    <a class="resetMe waves-effect waves-light btn dark_mode" value=" = ">normal</a>
    </div>
</div>




<div class="section white z-depth-5 section_dark" id="preguntas">
    <div class="row container">
        <h2 class="header my_heading_text dark_header"> Preguntas</h2>
        
        <p class="grey-text text-darken-3 lighten-2 my_normal_text dark_text"><strong>USO DE LINEAMIENTOS</strong></p>
        <p class="grey-text text-darken-3 lighten-2 my_normal_text dark_text"><strong>
            Color:<br> he various combinations of colour you use on your website should contrast well with each other, so those with low vision can distinguish one element from another. Many people have lack of contrast sensitivity as they get older. WCAG 2.0 AA, recommends contrast of at least 4.5:1.
           <br>
           Esto lo use en la parte de Dark Mode, para que el color blanco no sea molesto para ciertas personas a la hora de estar navegando en el sitio.
           
           <br><br>
           Relative Size Units:<br>
           If the font size is fixed, the user can't scale the text in order to facilitate legibility. If the width of the page is designed to display well in a fixed browser window size and the user enlarges the text, it could become too large to display on screen. This affects users who are viewing content on a small screen, such as a mobile device or laptop, or users with poor eyesight. Relative sizing also means that the website can be used on a wider selection of devices.
           <br>
           Esto lo apliqué al agregar botones que cambian el font size de los divs.
           
           <br><br>
           También descargué un qr reader pero no funciona porque creo que la versión de php del cloud 9 es 5.9 y se necesita una mayor.
           Mi idea era que pudieras tomar una foto de un código QR para poder logearte a la página sin tener que escribir password ni user.
           <br>
        </strong></p>
        
        <p class="grey-text text-darken-3 lighten-2 my_normal_text dark_text"><strong>¿Por qué es importante la accesibilidad?</strong></p>
        <p class="grey-text text-darken-3 lighten-2 my_normal_text dark_text"><strong>
            Al tener un sitio accesible el usuario se pone en el centro de la experiencia con la aplicación.
            El contenido está mejor organizado, es legible.
            Además, ser accesible significa que llega o puede ser usado por un mayor número de personas, aún aquellas con 
            alguna habilidad diferente.
        </strong></p>
        
        <p class="grey-text text-darken-3 lighten-2 my_normal_text dark_text"><strong>¿Cuáles son los lineamientos de accesibilidad que consideras más importantes? ¿Por qué?</strong></p>
        <p class="grey-text text-darken-3 lighten-2 my_normal_text dark_text"><strong>
            Yo creo que depende en el uso del sitio o app. Por ejemplo, si es una página de información le daría importancia a la traducción del sitio.
            En general creo que de los más importantes son que la página se vea exactamente igual en todos los navegadores
            Y que en los dispositivos móviles todo el contenido se mueva de manera correcta para ser leído y la app pueda ser usada.
            
        </strong></p>
        
        <p class="grey-text text-darken-3 lighten-2 my_normal_text dark_text"><strong>Describe 3 cambios que harás en tu proyecto para hacerlo más accesible.</strong></p>
        <p class="grey-text text-darken-3 lighten-2 my_normal_text dark_text"><strong>
            Inconscientemente ya aplicamos algunos cambios:<br>
            <br>1) Programatic elements: nuestra página no funciona si javascript o jquery, por lo que se está descattivado, se le da al usuario retro de que debe de tenerlo activado para que el sitio funcione, además de que no le deja acceder sin tenerlo activado
            <br>2) Diseño y Minimalismo: nuestra página tiene pocos elementos, hay tablas que tienen mucha información, es por lo que se incluyó un botón de más información de tal manera que el front end y las tablas no se saturaran de información y si es necesario el usuario puede consultarla aparte.
            <br>3) Labels e información: nuestro sitio tiene tooltipes que muestran información al usuario de lo que hace cada botón importante en el sitio: por ejemplo: agregar usuario
            <br>4) Documents and PDFs: agregamos botones de descarga de Excel y PDF al sitio para facilitar el trabajo en Excel de la administradora.
        </strong></p>
        
    </div>
       
</div>