<!-- El Footer de las páginas-->

<!--JavaScript at end of body for optimized loading-->
<footer class="page-footer my_footer" id="footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Eso es todo <hr></h5>
                <p class="grey-text text-lighten-4">¡Gracias por visitar mi página! <img class="responsive-img logo_foot" src="images/watermark.png"/ width="80"></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text"> &nbsp; &nbsp;Links con más información: <hr></h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">GitHub</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="my_copyright">
              <hr>
            Copyright Dan Elias 2019 ©
          </div>
        </footer>

        <script type="text/javascript" src="partials/js/myjs.js"></script>
    </body>
</html>