#tutorial1{
    height: 350px;;
}

div.a {
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 300px;
    top: 20px;
    border: 3px solid red;
    background-color: rgba(4, 7, 12,0.75);
}

div.b {
    position: absolute;
    top: 0;
    border: 3px solid blue;
} 

div.c {
    position: absolute;
    top: 80px;
    border: 3px solid green;
} 

#change_button{
    background-color:#161c26;
    border-radius: 50px 50px;
    border-color: white;
}

#change_fontsize{
    background-color:#161c26;
    border-radius: 50px 50px;
    border-color: white;
}

#change_visibility{
    background-color:#161c26;
    border-radius: 50px 50px;
    border-color: white;
}

.font1{
    font-family: "Times New Roman";
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    visibility: visible; 
}

.font2{
    /*pixels/16=em*/
    font-family: "Arial";
    font-style: oblique;
    font-size: 1.2em;
    font-size:3vw;
    visibility: visible;
}

.font3{
    font-family: bebas_neueregular;
    font-style: normal;
    font-size: 190%;
    font-variant: small-caps;
    visibility: visible;
}

#images {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#drag4,
#drag5,
#drag6,
#drag7,
#drag8,
#drag9,
#drag10,
#drag11,
#drag12 {
  height: 220px;
  width: 220px;
  display: inline-block;
}

#drag4 {
    background-image: url("img/lana1.jpg");
}

#drag5 {
  background-image: url("img/lana2.jpg");
}

#drag6 {
  background-image: url("img/lana3.jpg");
}

#drag7 {
  background-image: url("img/lana4.jpg");
}

#drag8 {
  background-image: url("img/lana5.jpg");
}

#drag9 {
  background-image: url("img/lana6.jpg");
}

#drag10 {
  background-image: url("img/lana7.jpg");
}

#drag11 {
  background-image: url("img/lana8.jpg");
}

#drag12 {
  background-image: url("img/lana9.jpg");
}

#text div {
  position:relative;
  height: 200px;
  width: 200px;
  border: 1px dashed white;
  display: inline-block;
  margin: 0 auto;
    text-align: center;
}

#text {
  width:614px;
  margin:0 auto;
    text-align: center;
}

