<!DOCTYPE html>
<html>
    
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
        <!-- Gracias por el tip Santi :)-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
        
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
        
        <!--Esta es mi hoja de estilos css-->
        <link type="text/css" rel="stylesheet" href="css/mystyles.css"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <title>📱 Lab 7 DAW </title>
        
        <!--<link rel="shortcut icon" type="image/jpg" href="images/si1.jpg"/>-->
    </head>

    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.js"></script> 
        
        <nav>
            <div class="nav-wrapper ">
                <a href="#" class="brand-logo"><img class="responsive-img" id="logo" src="images/watermark.png"/ width="100"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down ">
                    <li><a href="#about" class="nav_text">About me</a></li>
                    <li><a href="#art" class="nav_text">Art</a></li>
                    <li><a href="#projects" class="nav_text">Projects</a></li>
                    <li><a href="" class="nav_text">Etc</a></li>
                </ul>
            </div>
        </nav>
    </body>
</html>